@font-face {
    font-family: 'geomanist';
    src: url('../fonts/eot/geomanist-regular-webfont.eot');
    src: url('../fonts/eot/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/woff/geomanist-regular-webfont.woff2') format('woff2'),
         url('../fonts/woff/geomanist-regular-webfont.woff') format('woff'),
         url('../fonts/ttf/geomanist-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'geomanist';
    src: url('../fonts/eot/geomanist-light-webfont.eot');
    src: url('../fonts/eot/geomanist-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/woff/geomanist-light-webfont.woff2') format('woff2'),
         url('../fonts/woff/geomanist-light-webfont.woff') format('woff'),
         url('../fonts/ttf/geomanist-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'geomanist';
    src: url('../fonts/eot/geomanist-bold-webfont.eot');
    src: url('../fonts/eot/geomanist-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/woff/geomanist-bold-webfont.woff2') format('woff2'),
         url('../fonts/woff/geomanist-bold-webfont.woff') format('woff'),
         url('../fonts/ttf/geomanist-bold-webfont.ttf') format('truetype');

    font-weight: bold;
    font-style: normal;

}

#service-logo {
   width: 350px;
   margin-top: 60px;
}

#lang-dropdown-toggle, .multiselect {
 background-color: #f0826d;
}

html, body {
 background-color: #d5dbde;
 font-family: geomanist !important;
}

#service-name {
 color: black;
}

#search-all-button {
 background-color: #f0826d;
}

.header-left > h1 {
 background-color: #f0826d;
}

.headerbar-coloured{
 background-color: #f0826d;
}

body #nav-menu {
  background-color: white ;
  margin-left: -425px;
  width: 400px;
  height: 300px;
  position: absolute;
  padding: 15px;
}

.about-logo {
  background-color: #f0826d;
  margin-left: -425px;
  padding-left:10px;
  margin-bottom: 10px;
  height:50px;
  vertical-align: middle;
  color: white;
}

#about {
  width: 765px !important;
  padding-top: 2px;
}

.dropdown-toggle:hover, .btn.dropdown-toggle:focus, .open > .dropdown-toggle.btn-default {
  background-color: #f0826d;
}

li.active label.checkbox{
  background-color: #f0826d;
}
/*
li.active label.checkbox :hover{
  background-color: #f0826d;
}*/

.multiselect-container>li :hover {
    background-color: #f8c1b2;
}

.box-new {
  background-color: #f0826d;
  height: 35px;
  width: 100%;
  color: white;
  font-size: 20px;
  text-align: center;
}
input.submit.search-submit{
  background-color: #939393;
  color: black !important;
}

.advanced-btn {
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #939393;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.advanced-btn:hover {
  background: #959595;
  text-decoration: none;
}


/** allan.lukwago@devinit.org custom styles**/
.banner {
  width: 100%;
  height: 5em;
  background: url("frontendroot?fileName=custom/images/banner.jpg");
}
.vignet {
  width: 100%;
  height: 5em;
  position: absolute;
  top: 0;
  background-color: rgba( 0,0,0, 0.75 );
}
.header-title{
  width: 100%;
  position: absolute;
  top: 0;
  margin-top: 1em;
  color: white;
}
.header-title h2 {
  display: inline-block;
  width: 19%;
  font-size: 1.5em;
  padding-left: 2em;
}
.header-title h1 {
  display: inline-block;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 1.5em;
}
.sub-heading h2{
  text-align: center;
  font-size: 1.6em;
  padding-top: 1em;
}
.footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
  clear: both;
  height: 13.4em;
}
.social{
  width: 100%;
  background: black;
  color: #999;
  height: 4em;
}
.social a{
  /* font-size: 1.4em; */
  color: white;
  border: solid;
  background-color: #00b0ef;
  border-radius: 50px;
  border: none;
  width: 3.2em;
  height: 3.1em;
}
.social a:before {
  font-size: 1.7em;
  margin-left: 11px;
  line-height: 1.8;
}
.social a:hover{
  text-decoration: none;
}

.footer p{
  text-align: center;
  padding-top: 1em;
}
