{% extends "light.twig" %}
{% block sidebar %}{% endblock %}
{% block headernav %}{% endblock %}
{% block content %}
<div class="about-logo">
  <h1>Thesaurus</h1>
</div>


<div id="about">
  <div id="nav-menu">
  <h2>Thesaurus</h2>
    <ul>
      <li><a href="en/">Browse</a></li>
      <li><a href="http://178.79.158.119:3030/manage.html" target="_blank">Download</a></li>
      <li><a href="http://178.79.158.119:3030/dataset.html" target="_blank">SPARQL endpoint</a></li>
    </ul>
  <h2>Resources</h3>
    <ul>
      <li><a href="en/translate/">Search & Translate Tool</a></li>
    </ul>
  </div>
  <div class="about-content">
    {% include ['about.inc', 'about.inc.dist']  %}
  </div>
</div>
{% endblock %}
