{# This is the template for the about page. You can enter any html here and show different language versions by using the lang value in a twig conditional as demonstrated below. #}
{% if request.lang == 'fi' %}

<h4>Tietoja sanastoselaimesta</h4>
<p>Skosmos on web-pohjainen sanasto ja ontologiaselain.</p>
<a href="http://github.com/NatLibFi/Skosmos">Skosmos GitHub-repositorio</a>
{% elseif request.lang == 'sv' %}

<h4>Information</h4>
<p>Skosmos är en ontologibrowser.</p>
<a href="http://github.com/NatLibFi/Skosmos">Skosmos på GitHub</a>

{% elseif request.lang == 'en' %}

<h3>Welcome to the Joined-up Data Standards Navigator </h3>
<p>Directly compare data from multiple international data standards using our
  free translation tools. The tools are designed to make your work easier and
  increase the efficiency of your analysis, so you can concentrate on
  understanding what the data is saying, instead of spending hours joining it up
</p>
<div class="hide tabs show" id="results" style="display: block;">
    <div class="panel-tab">
        <center>
            <div id="loader" class="loader"></div>
        </center>
        <div>
          <button class="accordion" id="home-page-accordion-1">
            <b>Find out more about the translation tools</b>
          </button>
          <div class="panel" style="text-align:left; overflow: auto">
            <p>
              As people who work with data on international development and humanitarian financing, we know how complex and time-consuming it can be to compare and work with data published to different standards.
            </p>
            <p>
              To solve this problem we’ve created easy-to-use tools so you can explore if and how international development data standards compare, and what relationships exist between them. You can also download our macro to apply our mappings within your own spreadsheets.
            </p>
                <p><a href="en/translate">Search and translate: </a>find out if and how data standards compare</p>
                <p><a href="en/spreadsheet">Translate in your spreadsheet: </a>use our Google Sheet Add-on to use our mappings within your own spreadsheet</p>
                <p>Visit our <a href="#">FAQS</a> FAQS to learn more</p>
          </div>
        </div>

        <div>
          <button class="accordion" id="home-page-accordion-2">
              <b>What standards are included in the Navigator?</b>
          </button>
          <div class="panel" style="text-align:left; overflow: auto">
              <p>
                Our Navigator currently includes:
              </p>
              <ul>
                <li><a href="https://unstats.un.org/unsd/cr/registry/regcst.asp?Cl=4">UN Classifications of the Functions of Government (COFOG)</a></li>
                <li><a href="http://www.oecd-ilibrary.org/development/data/creditor-reporting-system_dev-cred-data-en">Organisation for Economic Cooperation and Development Creditor Reporting System (CRS)</a></li>
                <li><a href="http://nccs.urban.org/classification/national-taxonomy-exempt-entities">National Center for Charitable Statistics National Taxonomy of Exempt Entities (NTEE)</a></li>
                <li><a href="https://unstats.un.org/unsd/cr/registry/regcst.asp?Cl=27">UN International Standard Industrial Classifcation of All Economic Activities (ISIC)</a></li>
                <li><a href="http://projects.worldbank.org/theme?lang=en">World Bank Themes</a></li>
                <li><a href="http://projects.worldbank.org/sector?lang">World Bank Sectors</a></li>
                <li><a href="https://mdgs.un.org/unsd/mdg/default.aspx">Millennium Development Goals (MDGs)</a></li>
                <li><a href="https://unstats.un.org/sdgs/">Sustainable Development Goals (SDGs)</a></li>
                <li><a href="http://data.worldbank.org/data-catalog/world-development-indicators">World Bank World Development Indicators (WDI)</a></li>
                <li><a href="http://dhsprogram.com/What-We-Do/Survey-Types/DHS.cfm">Demographic and Health Surveys (DHS) V11</a></li>
                <li><a href="http://mics.unicef.org/">UNICEF Multiple Indicator Cluster Survey (MICS5)</a></li>
              </ul>
              <p>
                You can use our <a href="en/translate">search and translate tool</a>
                and <a href="en/spreadsheet">spreadsheet tool</a> to understand the relationships between these standards.
              </p>
          </div>
        </div>

        <div>
          <button class="accordion" id="home-page-accordion-3">
              <b>Add your standard to the Joined-up Data Standards Navigator</b>
          </button>
          <div class="panel" style="text-align:left; overflow: auto">
              <p>
                For the data you publish to have maximum reach and impact it needs to be easily accessible
                and useable by those wanting to analyse it. By adding your standard to our network, you will:
              </p>
              <ol>
                <li>make it easier for data users to put your data to good use</li>
                <li>show how your standard relates to others</li>
                <li>support interoperability across different organisations and sectors.</li>
              </ol>
              <p>
                It’s easy to add your standard and you only have to do it once to plug in to the network we’ve already mapped.
                The more standards that join, the more useful the tools become to those needing to analyse data, and the more impact your data can have.
                So <a href="mailto:info@joinedupdata.org?Subject=Joined%20Data%20Inquiry" target="_top">get in touch</a> to find out more about how to add your standard to the Joined-up Data Standards Navigator.
              </p>
          </div>
        </div>
    </div>
</div>
{% endif %}
