{% extends "light.twig" %}
{% block sidebar %}{% endblock %}
{% block headernav %}{% endblock %}
{% block content %}
    <div id="about">
        <div id="nav-menu">
            <p>Navigator</p>
            <ul>
                <li><a href="en/">Browse Projects</a></li>
                <li><a href="en/faq">FAQs</a></li>
            </ul>
            <p>Tools</p>
            <ul>
                <li><a href="en/translate/">Search or translate tool</a></li>
                <li><a href="en/spreadsheet/">Spreadsheet tool</a></li>
            </ul>
            <p>Developer Access</p>
            <ul>
                <li><a href="http://178.79.158.119:3030/dataset.html" target="_blank">SPARQL endpoint</a></li>
            </ul>
            <p>Contact</p>
            <ul>
                <li><a href="mailto:info@joinedupdata.org?Subject=Joined%20Data%20Inquiry" target="_top">Email Us</a>
                </li>
            </ul>
        </div>
        <div class="about-content">
            <!-- search  -->
            <div id="search-page">
                <div class="box-new">Joined-up Data Standards Navigator FAQs</div>
                <div class="panel-tab">
                    <p>
                        1. What is the Joined-up Data Standards Navigator?
                        The Joined-up Data Standards Navigator is a network of mapped data standards or classifications
                        of data that are relevant to the field of development in the area of socioeconomic sectors,
                        indicators, country classifications or surveys.
                        The Navigator cross-links standards in a machine-readable way to enable users to understand the
                        relationships between different international data standards, and to make comparisons between
                        them.
                        The Joined-up Data Standards Navigator is developed and maintained by Development Initiatives as
                        part of the Joined-up Data Standards project.
                    </p>

                    <p>
                        2. What is the Joined-up Data Standards Navigator for?
                        As people who work with data on international development and humanitarian financing, we know
                        how complex and time-consuming it can be to compare and work with data published to different
                        standards and grouped by different classifications.
                        The Joined-up Data Standards Navigator was developed as a resource for those needing to work
                        across multiple data standards, removing the manual work needed to understand how one standard
                        or sector code relates or compares to another.

                    </p>

                    <p>
                        3. Who is the Joined-up Data Standards Navigator for?
                        The Joined-up Data Standards Navigator is an easy-to-use resource for anyone who works with data
                        relating to development either at an international or a national level.
                        If you are a data user handling complex data analyses who needs to compare data published to any
                        of the mapped standards, or if you are a data publisher who wants to ensure their data is
                        accessible and useful, the Navigator is for you.

                    </p>

                    <p>
                        4. How is the Joined-up Data Standards Navigator useful for data users?
                        The Joined-up Data Standards Navigator provides you with easy-to-use tools to make your life
                        simpler and to increase the efficiency of your analysis. Our search and translate tool and our
                        spreadsheet tool allow you to run a simple search to find out if and how data standards compare,
                        saving you from the painstaking task of manually mapping the data yourself.
                        The search and translate tool allows you to browse and find the relationships between standards
                        using simple or advanced search.
                        The spreadsheet tool provides you with the best translation of socio-economic activities between
                        different international data standards, or retrieves the relevant international code for a given
                        country.
                        All of this will help save you time and allow you to focus on your analysis.

                    </p>

                    <p>
                        5. How is the Joined-up Data Standards Navigator useful for data publishers?
                        Our Joined-up Data Standards Navigator enables you to easily connect your data with that
                        published in other international standards. By doing so, you will increase the potential reach
                        and impact of your data, as you make it easier for users to access and analyse it.
                        Adding your standard to the Navigator will:
                        make it easy for data users to put your data to good use
                        show how your standard relates to others
                        support interoperability across different organisations and sectors.
                        The more standards that are mapped in the Navigator’s network, the more useful it becomes.

                    </p>

                    <p>
                        7. How does the Joined-up Data Standards Navigator work?
                        The data standards held in our Navigator network are linked together using the Simple Knowledge
                        Organisation System (SKOS). SKOS provides a universal and established ‘language’ for defining
                        relationships between concepts (terms) and also provides a means of systematically comparing
                        concepts across the mapped data standards.
                    </p>

                    <p>
                        The Joined-up Data Standards Navigator search and translate tool is an easy-to-use tool to help
                        data users understand the relationships between different data standards. The tool offers both
                        simple and advanced search functionality .
                        Simple search
                        The simple search provides a basic search function to enable you to identify all instances of a
                        particular term or code from within our network of mapped standards. So, you can search for
                        ‘health’ and be shown every occurrence of that term in the standards we have mapped (or within
                        grouped ‘projects’). For example, when searching for ‘health’ within our ‘sectors’ project, the
                        results will include:

                    </p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
